---
import RootLayout from "@/layouts/RootLayout.astro";
---

<!-- TO DO:
make the 2013 etc links be links to the bottom of the page
-->

<RootLayout>
  <div class="prose prose-a-green dark:prose-invert">
    <h1>Research Overview</h1>
    <p>

    My intellectual objective has been to elaborate a formula of critique for politically valiant social analysis, suitable for the conceptualization of radical social change. The evolution of this project is articulated below, referenced to the relevant publications. 

    </p>
    <p>

    My efforts at politically engaged philosophical reflection began my involvement with the dissident movements in my native Bulgaria in the late 1980s. I observed a continuity between the nascent post-communist democracy and the old regime, questioning prevalent at the time optimistic prognoses for the future of liberal democracy in Eastern Europe (Azmanova <a href=""> 1992</a>). This trajectory of research was continued in Azmanova <a href="#">2001</a>, <a href="#">2006</a>, <a href="#">2009a</a>, <a href="#">2009b</a>.

    </p>

    <p>
    My doctoral work at the New School for Social Research in New York focused on theories of justice and judgment, as I explored the capacity of public deliberations on social justice to have not only validating and consensus-building, but also a critical, emancipatory force. I formulated the dilemma of normative political theory in terms of what I called the ‘judgment paradox’ – the more we weaken our normative criteria, the more we enhance judgment’s political realism at the expense of its critical power; however, the higher we set the normative standards, the more we lose our grip on political reality— again at the expense of judgment’s critical power (<a href="#">2012a</a>: 3-4). To solve this paradox, I elaborated a model of critical judgment based on a pragmatist political epistemology, by drawing on Aristotle’s notion of phronesis and Kant’s notion of reflective judgment. I articulate the conditions under which public deliberations on justice generate what I describe as a critical consensus – a shared understanding of the common social roots of seemingly irreconcilable positions, which allows citizens to maintain a critical stance on the norms they embrace as binding, as well as engage successfully in transformative social practices (ibid: Ch7-9). Aspects of this model of agonistic, emancipatory deliberations are developed in <a href="#">2011a</a>, <a href="#">2011c</a>, and <a href="#">2013c</a>. 
    </p>

    <p>
    Another trajectory of my research has been dedicated to bringing the critique of political economy (back) into political and social theory. I observe the disengagement of critical theory from the critique of the structural dynamics of contemporary capitalism (<a href="#">2014</a>, <a href="#">2019e</a>, <a href="#">2019c</a>) and propose to shift our thinking on social justice beyond issues of inequality and exclusion (<a href="#">2014 </a>). I recast the model of ‘immanent critique’ developed within the Frankfurt School of critical theory away from the communicative turn, in order to ground social criticism more firmly in the critique of political economy. This allows me to focus on the key systemic dynamics and structural contradictions of contemporary capitalism (<a href="#">2012b</a>). At the center of my theoretical framework is an articulation of three types of social domination: systemic (rooted in the constitutive dynamics of the social system), structural (rooted in the structuring institutions), and relational (rooted in power asymmetries); these are also three trajectories along which intellectual critique and social criticism are to pursue emancipation (<a href="#">2020a</a>, <a href="#">2018b</a>, <a href="#">2016b</a>). Emancipatory practice is to target these three types of domination, while radical, revolutionary practice is to target specifically systemic domination. Thus, I shift the critique of capitalism from issues of distributive injustice and property relations (which are matters of, respectively, relational and structural domination) to the competitive production of profit – capitalism’s constitutive dynamic which engenders systemic domination. Drawing on this theoretical model, I also spell out a methodology of analysis for critical social theory (<a href="#">2020a</a>, Ch2). 

    </p>

  </div>
</RootLayout>
