---
import RootLayout from "@/layouts/RootLayout.astro";
import * as markdown from './test.md'
---

<!-- TO DO:
make the 2013 etc links be links to the bottom of the page
-->

<RootLayout>
  <div class="prose prose-a-green dark:prose-invert">

	  <h1> {markdown.frontmatter.title} </h1>
  </div>
