---
const { book  }= Astro.props;
---
<!-- Card -->
<div class="block rounded-lg bg-white shadow-lg dark:bg-neutral-700 text-center">
  <!-- Card image -->
  <a href="#!">
    <img class="rounded-t-lg" src="https://tecdn.b-cdn.net/img/new/standard/nature/184.jpg" alt="" />
  </a>

  <!-- Card body -->
  <div class="p-6">

    <!-- Title -->
    <h5 class="mb-2 text-xl font-bold tracking-wide text-neutral-800 dark:text-neutral-50">
	    {book.title}
    </h5>

  </div>

  <!-- Card footer -->
  <div class="border-t-2 border-neutral-100 px-6 py-4 dark:border-neutral-500">
    <h5 class="flex items-center justify-center text-neutral-500 dark:text-neutral-300">
      <span class="ml-2">
	      {book.year}
      </span>
    </h5>
  </div>

</div>
<!-- Card -->
