<footer class="p-6">
  <div class="mx-auto flex flex-col md:flex-row justify-between items-start md:items-center">
    <div>
      <h6 class="text-lg font-semibold">Albena Azmanova</h6>
      <p class="text-sm">Professor of Political and Social Science, City University of London</p>
    </div>
    <div class="mt-4 md:mt-0 flex flex-col space-y-1 text-sm">
      <!-- University Link -->
      <div>
        <a href="https://www.city.ac.uk/" target="_blank" class="hover:underline">
          City University of London
        </a>
      </div>
      <!-- Address -->
      <div class="flex items-start">
        <div>
          <p>Northampton Square</p>
          <p>EC1V 0HB London, UK</p>
        </div>
      </div>
      <!-- Phone -->
      <div>
            +44 (0)7405937613
      </div>
      <!-- Email -->
      <div>
        <a href="mailto:albena.azmanova@city.ac.uk" class="hover:underline">albena.azmanova@city.ac.uk</a>
      </div>
    </div>
  </div>
</footer>

