<footer>
	<hr class="my-10">
	<div class="flex grid-cols-2 justify-between">
		<div>
	<p class="">
	Albena Azmanova
	<p>
	<p class='text-sm'>
	Professor of Political and Social Science, City University of London
	</p>
	</div>
		<div class=''>
			<p> City University London 
			</p>
			<p> Northampton Square, EC1V0HB London, UK
			</p>
		</div>
</footer>

<style>
div p {
	text-align: right;
}
</style>
