---
import MobileNav from "@/solid/MobileNav.tsx";
import ThemeSwitcher from "@/solid/ThemeSwitcher.tsx";
---

<header class="flex items-center justify-between py-3">
  <a href="/">
    <div class="text-2xl">Albena Azmanova</div>
  </a>
  <div class="flex gap-4">
    <nav>
      <ul class="hidden sm:flex">
        <li>
          Research
          <ul class="bg-white dark:bg-black dropdown absolute hidden">
            <li><a href="#"> Overview </a></li>
            <li><a href="#"> Books</a></li>
            <li><a href="#"> JavaScript</a></li>
          </ul>
        </li>
        <li>Events</li>
	<a href="/about/"><li>About</li></a>
      </ul>
    </nav>
    <!--<SearchButton />-->
    <ThemeSwitcher client:only="solid-js" />
    <MobileNav client:only="solid-js" />
  </div>
</header>

<style>
  li {
    padding: 10px;
  }

  ul li:hover ul.dropdown {
    display: block;
  }
</style>
