---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import SectionContainer from "../components/SectionContainer.astro";
---

<html>
  <BaseHead {...Astro.props} />
  <body
    class="bg-white text-black antialiased dark:bg-gray-950 dark:text-white"
  >
    <SectionContainer class="bg-red border-sky-500">
      <Header />
      <main class="mb-auto">
        <slot />
      </main>
      <Footer />
    </SectionContainer>
  </body>
</html>
